
@{
   int indx = 1;
}

   <h1> Employees data**** </h1>
   <hr />
   <h2><a href="/Employee/addNew">ADD NEW EMPLOYEE</a></h2>
   <hr />
   <table style="border:2px solid black; length =120px;">
    <tr style ="border:2px solid black;">
        <th style ="border:2px solid black;">*</th>
        <th style="border:2px solid black;">ID</th>
        <th style="border:2px solid black;">NAME</th>
        <th style="border:2px solid black;">details</th>
       </tr>
         @foreach(Employee emp in Model)
         {

        <tr style ="border:2px solid black;">

            <td style="border:2px solid black;">@(indx++)</td>
            <td style="border:2px solid black;">@emp.Id </td>
            <td style="border:2px solid black;">@emp.Name</td>
            <td style="border:2px solid black;"><a href="/Employee/Details/@emp.Id">Details</a></td>
        </tr>
         }

