
 @model Office
 @{
    ViewData["Title"] = "Edit";
 }
<h1>Edit</h1>

<form asp-controller="Office" asp-action="EditInDB" >
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input class="form-control" asp-for="Location">
    </div>
    <input type="submit" value="Edit" class="btn btn-primary">

    </form>